@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@import "farm";
@import "header";
@import "homepage";
@import "responsive";
body{
    background: rgb(221, 226, 236);
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}